.App {
  display: flex;
  height: auto;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgb(69, 103, 252);
  background: linear-gradient(9deg, rgba(69, 103, 252, 1) 47%, rgba(131, 58, 180, 1) 47%);
  color: rgb(185, 185, 185)
}